table {
  border-collapse: collapse;
  font-family: Arial , sans-serif;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

th, td {
  border: 1px solid #ad7d37;
  padding: 8px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.4);
}

th {
  font-weight: 700;
  color: #ad7d37;
  background-color: rgba(0, 0, 0, 0.6);
}

tr:hover {
  background-color: #ad7d37;
}
